<h1>댓글 작성</h1>
<form action="/comment/create">
	<input type="hidden" name="id" value="<%=@post.id%>">
	<textarea name="contents" cols="30" rows="10"></textarea>
	<button type="submit">작성</button>
</form>
