<style>
	#contents{
		float:left;
		position:
	}
	#submit{
		float:left;
	}
	form{
		outline:solid;
		float:left
	}
</style>


<h1>Add Sound</h1>
<form action = "/post/create">
	<p>
		<label for="title">Sound name: </label> 	
		<input type="text" name="title"> 
	</p>
	
	<p>
		<label for="author">Author: </label>
		<input type="text" name="author">
	</p>
	
	<p>
		<label id="contents" for="contents">Description</label>
		<textarea id ="contents" name="contents" cols="30" rows="10"></textarea>
	</p>
	<button id="submit" type="submit">업로드</button>
</form>

