<h1>비밀번호 찾기</h1>
<form class="" action="/user/forgot" method="post">
  <p>
    <label for="email">이메일</label>
    <input type="text" name="email">
  </p>
  <button type="submit">비밀번호 찾기</button>
</form>
